#!/bin/sh
#
# The "merge" hook runs when `kosho merge` is executed, before attempting to
# commit uncommitted changes (if the `-m` flag is used).
# 
# If this hook fails, the merge operation will be aborted.
#
# To enable this hook, rename this file to "merge".

echo "Running $KOSHO_HOOK hook for worktree: $KOSHO_WORKTREE"

# the hook is run in the worktree directory
echo "Hook PWD: $PWD"