name: CI

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Go Build
        run: go build -v ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
